id: "pub"
name: "Research Publications"
includes:
  - path: flavours/pub_lib
    version: ">= 3.5.0"
  - path: ingredients/bazaar
    version: ">= 2.0"
  - path: ingredients/easy_pages
    version: ">= 2.0"
  - path: ingredients/richtext
    version: ">= 2.0"
  - path: ingredients/latest_additions
    version: ">= 1.0"
