id: "pub"
name: "Research Publications"
includes:
  - path: flavours/pub_lib
    version: ">= 1.0"
  - path: ingredients/bazaar
    version: ">= 1.0"
  - path: ingredients/easy_pages
    version: ">= 1.0"
  - path: ingredients/richtext
    version: ">= 1.0"
