flavour: "pub"
name: "Research Publications"
includes:
  - directory: flavours/pub_lib
    version: ">= 1.0"
  - directory: ingredients/bazaar
    version: ">= 1.0"
  - directory: ingredients/easy_pages
    version: ">= 1.0"
  - directory: ingredients/richtext
    version: ">= 1.0"
